<div class="profile-header">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>用户信息</strong>
            </h3>
        </div>
        <table class="table">
                <tr><td><b>用户id：</b></td><td>{{ .user.Id }}</td></tr>
                <tr><td><b>邮箱：</b></td><td>{{ .user.Email }}</td></tr>
                <tr><td><b>昵称：</b></td><td>{{ .user.Username }}</td><td></td></tr>
        </table>
    </div>
</div>